*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    max-height: 500px; 
    max-width: 500px;
}

h1{
    padding-top: 10px !important; 
    font-size: 3.5em; 
    font-family: webnar-bold;
}
ul{
    padding: 5px;
    display: table;
    width: 100%;
    list-style: none;
}

a{
    text-decoration: none;
    color: #c6c6c6;
}

.top-tagline-banner{
    width: 100%;
    display: inline-flex;
    padding: 10px;
    margin: auto;
    justify-content: space-evenly;
}

.about-us{
    width: 100%;
    object-position: center;
    padding: 10px;
}

.pricing-cards-wrapper{
    padding: 10px;
    display: inline-flex;
    width: 100%; 
    margin: auto;
}
.pricing-card{
    border: solid 1px; 
    padding: 10px;
}
.pricing-cards-body{
    border: solid 1px; 
    padding: 10px; 
    background-color: #131313;
    margin: auto;
    height: 100%;
    width: 100%;
}
.price-tag{
    text-align:center; 
    font-size:1.5em;
}
.pricing:hover{
    transition: all .3s ease-in-out;
}

.external-links li {
    display: table-cell;
    text-align: center;
}


@media screen and (max-width: 768px) {
    *{
        margin: 2px;
        padding: 2px;
    }

    .about-us{
        width: 100%;
        object-position: center;
        padding: 10px;
    }

    .pricing-cards-wrapper{
        padding: 10px;
        display: block;
        width: 100%; 
        margin: auto;
    }

    .pricing-cards-body{
        border: solid 1px; 
        padding: 10px; 
        text-align: center;
    }

    .top-tagline-banner{
        padding: 10px;
        margin: 10px;
        display: inline-block;
        margin: auto;
    }

    .external-links{
        width: 100%;
        list-style: none;
    }
    .external-links li {
        padding: 5px;
        display: block;
        text-align: center;
    }

}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    *{
        margin: 2px;
        padding: 2px;
    }

     .pricing-cards-wrapper{
        padding: 10px;
        display: block;
        width: 100%; 
        margin: auto;
    }
    
    .pricing-cards-body{
        border: solid 1px; 
        padding: 10px; 
        text-align: center;
    }

    .top-tagline-banner{
        padding: 10px;
        margin: 10px;
        display: flex;
        margin: auto;
    }
    ul{
        padding: 5px;
        display: table;
        width: 100%;
        list-style: none;
    }

    .external-links li {
        display: table-cell;
        text-align: center;
    }


}

