*{
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}

.box-wrapper{
    display: flex;
    margin: auto;
}

.box1{
    background-color: sienna;
    height: 600px;
    margin: 1em;
    justify-content: space-evenly;
}

.box1 .row{
    display: flex;
}
.box2 .row{
    display: flex;
    width: 100%;
}
.row{
    height: 50%;
    width: 100%;
}
.row div{
    background-color: deepskyblue;
    margin: 1em;
}
.box2{
    background-color: sienna;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 1em;
    justify-content: space-evenly;
}

.box3{
    background-color: sienna;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 1em;
}
img{
    max-width: 400px;
    max-height: 400px;
    padding: 1em;
    margin: auto;
}


@media screen and (max-width: 768px) {
    .box-wrapper{
        display: block;
        margin: auto;
    }
    .box1{
        background-color: yellow;
        height: 600px;
    }
    .box2{
        background-color: yellow;
        height: 600px;
    }
    .box3{
        background-color: yellow;
        height: 600px;
    }
    .box2 .row{
        display: flex;
        width: 100%;
    }
    .row .div{
        width: 100%;
    }

    .box3 .row{
        display: flex;
    }
    img{
        max-width: 400px;
        max-height: 400px;
        padding: 1em;
        margin: auto;
    }
    

}

